html,body{
   background-color:white;
   margin: 0pt;
   padding: 0pt;
}
header{
background-color: #FBDBC3;
width: 100%;
padding: 15px 0;
   font-family: acumin-pro-condensed, sans-serif;
   font-style: italic;
   font-weight: 800;
   font-size: 26pt;
   color: #D2AE93;
   font-weight: bold;
   text-align: center;
}
a{
   text-decoration: none;
   color: #FBDBC3;
   font-size: 20pt;
   font-family: acumin-pro-condensed, sans-serif;
}
nav{
   background-color: #D2AE93;
   overflow: hidden;
   padding: 0px;
   text-align: center;
   margin: 0px;
}
nav ul li{
   display: inline-block;
   padding: 10px;
}
nav ul li:hover{
   background-color: white;
   color: #D2AE93;
   font-style: italic;

}
section{
   font-family: mr-eaves-modern, sans-serif;
   font-style: normal;
   font-weight: 100;
   line-height: 1.5em;
   font-size: 12pt;
   padding: 40px;
   width: 75%;
   text-align: left;
   margin: 0 auto;
}
