html, body {
   color: #ffffff;
   font-family: 'Karla', sans-serif;
   font-size: 92px;
   height: 100%;
   text-align: center;
}

body {
   background: #000000;
}

img {
   height: auto;
   max-width: 100%;
}

#message {
   position: relative;
}

.tree {
   height: auto;
   max-width: 500px;
   position: absolute;
}

.santa {
   height: auto;
   max-width: 200px;
   position: absolute;
}

.snow {
   height: auto;
   max-width: 120px;
   position: absolute;
}

.animated {
  -webkit-animation: colorchange 5s infinite;
  animation: colorchange 5s infinite;
}


@keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

@-webkit-keyframes colorchange
{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}
